<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Ratio - Color picker</title>

<form method="post">
  <input type="color" id="color0" name="color0" value="{{ frontend_config['color0'] }}">
  <label for="color0">Color 0</label><br>
  <input type="color" id="color1" name="color1" value="{{ frontend_config['color1'] }}">
  <label for="color1">Color 1</label><br>
  <input type="color" id="color2" name="color2" value="{{ frontend_config['color2'] }}">
  <label for="color2">Color 2</label><br>
  <input type="submit">
</form>