{% extends 'base.html' %}

{% block title %}{{ frontend_config['tool_name'] }} - Log In{% endblock %}

{% block content %}
<div class="w3-display-container color2" style="height:100vh">
    <div class="w3-display-middle">
        <form class="w3-container w3-card-4 color1" method="post">
            <p>
                <input class="w3-input" style="width:90%"
                       type="text" name="username" id="username" value="{{ request.form['username'] or '' }}" required>
                <label for="username">Name</label>
            <p>
                <input class="w3-input" style="width:90%" type="password" name="password" id="password" required>
                <label for="password">Password</label>
            <p>
                <input class="w3-button button-border w3-section w3-ripple" type="submit" value="Log In">
        </form>

        {% for message in get_flashed_messages() %}
        <div class="login-msg w3-panel w3-card-4">{{ message }}</div>
        {% endfor %}
    </div>

</div>
{% endblock %}