{% extends 'base.html' %}

{% block title %}RATIO - Log In{% endblock %}

{% block content %}
<div class="w3-display-container w3-green" style="height:100vh">
    <div class="w3-display-middle">
        <form class="w3-container w3-card-4 w3-blue" method="post">
            <p>
                <input class="w3-input" style="width:90%"
                       type="text" name="username" id="username" value="{{ request.form['username'] or '' }}" required>
                <label for="username">Name</label>
            <p>
                <input class="w3-input" style="width:90%" type="password" name="password" id="password" required>
                <label for="password">Password</label>
            <p>
                <input class="w3-button w3-section w3-light-blue w3-ripple" type="submit" value="Log In">
        </form>

        {% for message in get_flashed_messages() %}
        <div class="w3-panel w3-card-4 w3-red">{{ message }}</div>
        {% endfor %}
    </div>

</div>
{% endblock %}