{% extends 'tool/layout.html' %}

{% block title %}{{ frontend_config['tool_name'] }} - Admin{% endblock %}

{% block header_content %}
<div class="flex-fix ghost-center"><b>Admin Interface</b></div>
<div class="flex-flex">{# just a spacer #}</div>
{% endblock %}

{% block body_content %}
<!--TODO <script src="{{ url_for('static', filename='js/search.js') }}" defer></script>-->

<div class="entity entity-border" style="margin-top: 1em;">
  <div class="entity-title color2 flex-row">
    <div class="entity-label flex-flex">Test title</div>
  </div>
  <div class="entity-body" id="search-results">
    TODO <!--TODO-->
  </div>
</div>
{% endblock %}
