<script src="{{ url_for('static', filename='js/bar.js') }}" defer></script>

<header class="w3-bar w3-card w3-blue" id="flex-header">
  {% if subgraph['id'] %}
  <a href="#" id="subgraph_name" class="w3-bar-item w3-button">{{ subgraph['name'] }}</a>
  <input type="checkbox" id="finished" style="display: none"
         {% if subgraph['finished']%}checked{% endif %}>
  <label for="finished" class="w3-bar-item w3-button">
    <i class="fa fa-{% if subgraph['finished']%}check-{% endif %}square"></i> Finished
  </label>
  {% endif %}
  <div class="w3-right">
    <div class="w3-bar-item"><i class="fas fa-user w3-large"></i> {{ g.user['username'] }}</div>
    <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button">Log Out</a>
  </div>
</header>