{% from "tool/macros.html" import entity_div %}

{% extends 'tool/layout.html' %}

{% block title %}{{ frontend_config['tool_name'] }} - {{ subgraph['name'] }}{% endblock %}

{% block header_content %}
<div class="flex-fix ghost-center"><b>Editor</b></div>
<div class="flex-flex">{# just a spacer #}</div>
{% endblock %}

{% block body_content %}
<script type=text/javascript>
  window.SUBGRAPH_ID = {{ subgraph['id'] }};
</script>
<script src="{{ url_for('static', filename='js/knowledge.js') }}" defer></script>

<div id="subgraph-header" class="flex-row entity-border color2">
  <b class="flex-text">{{ frontend_config['Subgraph_term'] }}: {{ subgraph['name'] }}</b>
  <a href="{{ url_for('tool.overview', subgraph_id=subgraph['id']) }}" class="w3-button flex-fix">
    <i class="fas fa-table w3-large"></i> Overview table
  </a>
</div>
{{ entity_div(root, is_root=true, id='root-entity') }}
<div style="height: 11em;">{# just a spacer #}</div>
<div class="w3-panel w3-card-4 flex-row message" id="knowledge-delete-msg">
  <span class="flex-fix"></span>
  <button class="w3-button w3-text-green flex-fix">Undo.</button>
  <div class="flex-flex"></div>
  <button class="w3-button big-button flex-fix" title="Cancel">{#
    #}<i class="fas fa-times fa-lg"></i>
  </button>
</div>
{% endblock %}
