{% from "tool/edit_macros.html" import entity_div %}

{% extends 'tool/layout.html' %}

{% block title %}{{ frontend_config['tool_name'] }} - {{ subgraph['name'] }}{{ ' (read-only)' if read_only else '' }}{% endblock %}

{% block header_content %}
<div class="flex-fix ghost-center"><b>Editor{{ ' (read-only)' if read_only else '' }}</b></div>
<div class="flex-flex">{# just a spacer #}</div>
{% endblock %}

{% block body_content %}
{% if not read_only %}
<script type=text/javascript>
  window.SUBGRAPH_ID = {{ subgraph['id'] }};
</script>
<script src="{{ url_for('static', filename='js/knowledge.js') }}" defer></script>
{% endif %}

<div id="subgraph-header" class="flex-row entity-border color2">
  <b class="flex-text">{{ frontend_config['Subgraph_term'] }}: {{ subgraph['name'] }}</b>
  <a href="{{ url_for('tool.overview', subgraph_id=subgraph['id']) }}" class="w3-button flex-fix">
    <i class="fas fa-table w3-large"></i> Overview table
  </a>
</div>
{{ entity_div(root, is_root=true, id='root-entity', read_only=read_only) }}
<div style="height: 11em;">{# just a spacer #}</div>
<div class="messages">
  <div class="w3-panel w3-card-4 flex-row message" style="display: none" id="knowledge-delete-msg">
    <span class="flex-fix"></span>
    <button class="w3-button w3-text-green flex-fix">Undo.</button>
    <div class="flex-flex">{# just a spacer #}</div>
    <button class="w3-button big-button flex-fix close-msg" title="Close message">{#
      #}<i class="fas fa-times fa-lg"></i>
    </button>
  </div>
  {% if read_only %}
  <div class="w3-panel w3-card-4 flex-row message">
    <span class="flex-fix">This is a read-only view.</span>
    <div class="flex-flex">{# just a spacer #}</div>
    <button class="w3-button big-button flex-fix close-msg" title="Close message">{#
      #}<i class="fas fa-times fa-lg"></i>
    </button>
  </div>
  {% endif %}
</div>
{% endblock %}
