{% extends 'base.html' %}

{% block title %}RATIO {{ '- '+subgraph['name'] if subgraph['name'] }}{% endblock %}

{% block content %}
<script type=text/javascript>
  $SUBGRAPH_ID = {{ subgraph['id'] }};
</script>

<div class="w3-green" id="flex-container">
  {% include 'tool/header.html' %}

  <section id="flex-body">
    <div class="w3-padding" id="scroll-container">
      {% if subgraph['id'] %}{% include 'tool/subgraph.html' %}{% endif %}
    </div>

    <div class="w3-modal" id="overlay" {% if not subgraph['id'] %}style="display: block"{% endif %}>
      <div class="w3-modal-content">
        {% include 'tool/subgraph_menu.html' %}
      </div>
    </div>
  </section>
</div>

{% endblock %}