{% from "tool/macros.html" import entity_div %}

{% extends 'base.html' %}

{% block title %}RATIO {{ '- '+subgraph['name'] if subgraph['name'] }}{% endblock %}

{% block content %}
<script type=text/javascript>
  $SUBGRAPH_ID = {{ subgraph['id'] }};
</script>

<div class="color2 flex-column">
  {% include 'tool/header.html' %}

  <section id="flex-body">
    <div id="scroll-container">
      {% if subgraph['id'] %}
      <script src="{{ url_for('static', filename='js/knowledge.js') }}" defer></script>
      {{ entity_div(root, true) }}
      {% endif %}
    </div>

    <div class="w3-modal" id="overlay" {% if not subgraph['id'] %}style="display: block"{% endif %}>
      <div class="w3-modal-content">
        {% include 'tool/subgraph_menu.html' %}
      </div>
    </div>
  </section>
</div>

{% endblock %}