{% from "tool/macros.html" import knowledge_row %}

<!-- todo can be deleted? -->

<script src="{{ url_for('static', filename='js/knowledge.js') }}" defer></script>

<table class="w3-table w3-hoverable">
  <tr>
    <th>Subject</th>
    <th>Predicate</th>
    <th>Object</th>
    <th></th>
  </tr>
  {% for k in knowledge %}
    {{ knowledge_row(k['id'], subgraph['id'], k['subject'], k['predicate'], k['object']) }}
  {% endfor %}
  <tr>
    <form id="new-knowledge-form">
    <td>
      <input class="w3-input" type="text" placeholder="Subject" name="subject"
             form="new-knowledge-form" required>
    </td>
    <td>
      <input class="w3-input" type="text" placeholder="Predicate" name="predicate"
             form="new-knowledge-form" required>
    </td>
    <td>
      <input class="w3-input" type="text" placeholder="Object" name="object"
             form="new-knowledge-form" required>
    </td>
    <td>
      <button type="submit" class="w3-button" title="Add knowledge"
              form="new-knowledge-form">
        <i class="fas fa-plus fa-lg"></i>
      </button>
    </td>
    </form>
  </tr>
</table>