{% macro subgraph_row(subgraph_id, subgraph_name, subgraph_finished) %}
<div class="item" data-subgraph-id="{{ subgraph_id }}">
  <div class="flip-frontside" data-flipid="subgraph-list-{{ subgraph_id }}">
    <div class="flex-row">
      <a href="{{ url_for('tool.edit_view', subgraph_id=subgraph_id) }}"
         class="w3-button flex-text{% if subgraph_finished %} text-green{% endif %}">{{ subgraph_name }}</a>
      <input type="checkbox" id="finished-{{ subgraph_id }}" style="display: none"
             {% if subgraph_finished %}checked{% endif %}>
      <label for="finished-{{ subgraph_id }}" class="w3-button big-button flex-fix"
             title="{{ 'Finished' if subgraph_finished else 'Not finished' }}">{#
        #}<i class="fa {{ 'fa-check-square' if subgraph_finished else 'fa-square' }} fa-lg"></i>
      </label>
      <a href="{{ request.script_root }}/{{ subgraph_id }}/_download_rdf" class="w3-button big-button flex-fix" title="Download RDF">{#
        #}<i class="fas fa-project-diagram"></i>
      </a>
      <button class="w3-button big-button flex-fix flip-flipbutton" data-flipid="subgraph-list-{{ subgraph_id }}" title="Edit {{ frontend_config['subgraph_term'] }} name">{#
        #}<i class="fas fa-pen fa-lg"></i>
      </button>
    </div>
  </div>
  <div class="flip-flipside" data-flipid="subgraph-list-{{ subgraph_id }}" style="display: none">
    <form class="flex-row">
      <input class="w3-input flex-flex" type="text" name="name" value="{{ subgraph_name }}" required>
      <button type="submit" class="w3-button big-button flex-fix w3-right" title="Save changes">{#
        #}<i class="fas fa-save fa-lg"></i>
      </button>
      <button class="w3-button big-button flex-fix w3-right delete-subgraph-button" title="Delete {{ frontend_config['subgraph_term'] }}">{#
        #}<i class="fas fa-minus fa-lg"></i>
      </button>
      <button class="w3-button big-button flex-fix flip-frontbutton" data-flipid="subgraph-list-{{ subgraph_id }}" title="Cancel">{#
        #}<i class="fas fa-times fa-lg"></i>
      </button>
    </form>
  </div>
</div>
{% endmacro %}


{% macro entity_field(entity, field) %}
<div class="entity-field" data-property-uri="{{ field.property_uri }}">
  {% if field.is_deletable %}
  <div class="entity-field-title flex-row">
    <span class="entity-field-label flex-fix" {% if field.comment %}title="{{ field.comment }}"{% endif %}>{{ field.label }}:</span>
    <div class="add-entity-div flex-flex flex-row" {% if field.values and field.is_functional %}style="display: none;"{% endif %}>
      <button class="w3-button tiny-button flex-fix flip-frontside flip-flipbutton" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}" title="Add {{ field.range_label }}">{#
        #}<i class="fas fa-plus"></i>
      </button>
      <div class="flex-flex flip-frontside" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}"></div>
      {# add described entity #}
      <div class="flex-flex flip-flipside" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}" style="display: none; margin-left: 0.5em;">
        <form class="flex-row add-entity-form">
            <input class="w3-input flex-flex" type="text" name="label" placeholder="{{ field.range_label }} name..." required style="padding: 0 8px; border-bottom: 0">
            <button type="submit" class="w3-button tiny-button flex-fix" title="Add {{ field.range_label }}">{#
              #}<i class="fas fa-plus"></i>
            </button>
          </form>
      </div>
      <button class="w3-button tiny-button flex-fix flip-flipside flip-frontbutton" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}" title="Cancel" style="display: none;">{#
        #}<i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  {% endif %}
  <div class="entity-field-value-list">
    {% for index, value in field.get_sorted_values() %}
    {{ entity_div(value, index=index) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro option_div(option, is_object) %}
{% if is_object %}
<div class="option" data-option-uri="{{ option.uri }}"{% if option.comment is not none %} title="{{ option.comment }}"{% endif %}>{{ option.label }}</div>
{% else %}
<div class="option">{{ option }}</div>
{% endif %}
{% endmacro %}

{% macro value_options(field, value, index) %}
<div class="option-form flex-row">
  <input type="hidden" autofocus>
  <div class="flex-flex">
    {% if field.is_object_property %}
    <input class="w3-input option-input" type="text" name="label" value="{{ value.label }}" data-option-uri="{{ value.uri }}" data-index="{{index}}">
    {% else %}
    <input class="w3-input option-input" type="text" name="label" value="{{ value }}" data-index="{{index}}">
    {% endif %}

    {% if field.options or field.is_add_option_allowed %}
    <div class="options-dropdown"><div class="color1">
      <div class="options">
        {% for option in field.options %}
        {{ option_div(option, field.is_object_property) }}
        {% endfor %}
      </div>
      {% if field.is_add_option_allowed %}
      <form class="add-option-form flex-row">
        <input class="w3-input flex-flex" type="text" name="label" placeholder="Add option...">
        <button type="submit" class="w3-button tiny-button flex-fix" title="Add {{ field.range_label }} to the list of options.">{#
          #}<i class="fas fa-plus"></i>
        </button>
      </form>
      {% endif %}
    </div></div>
    {% endif %}
  </div>
  {% if not field.is_functional %}
  <button class="w3-button tiny-button flex-fix delete-value-button" title="Delete value">{#
    #}<i class="fas fa-minus"></i>
  </button>
  {% endif %}
</div>
{% endmacro %}


{% macro value_free(field, value, index) %}
<div class="literal-form flex-row">
  <div class="w3-input literal-input flex-flex" data-index="{{index}}" contentEditable>{{ value }}</div>
  {% if not field.is_functional %}
  <button class="w3-button tiny-button flex-fix delete-value-button" title="Delete value">{#
    #}<i class="fas fa-minus"></i>
  </button>
  {% endif %}
</div>
{% endmacro %}


{% macro entity_div(entity, is_root=False, index=0, collapsed=True) %}
<div class="entity{% if not is_root %} entity-border{% endif %}" data-entity-uri="{{ entity.uri }}" data-index="{{index}}">
  {# entity header #}
  {% if not is_root %}
  <div class="entity-title color2 flex-row">
    {# collapse button #}
    <button class="w3-button flex-fix flip-frontside flip-flipbutton" data-flipid="collapse-{{ entity.uri }}" {% if not collapsed %}style="display: none;"{% endif %}>{#
      #}<i class="fas fa-chevron-right"></i>
    </button>
    <button class="w3-button flex-fix flip-flipside flip-frontbutton" data-flipid="collapse-{{ entity.uri }}" {% if collapsed %}style="display: none;"{% endif %}>{#
      #}<i class="fas fa-chevron-down"></i>
    </button>

    <div class="entity-label flex-flex" {% if entity.comment %}title="{{ entity.comment }}"{% endif %} {% if entity.is_deletable %}contentEditable{% endif %}>{{ entity.label }}</div>
    {% if entity.is_deletable %}
    <button class="w3-button flex-fix delete-entity-button" title="Delete {{ entity.class_label }}">{#
      #}<i class="fas fa-minus"></i>
    </button>
    {% endif %}
  </div>
  {% endif %}

  <div class="entity-body{%if is_root%} color0{% else %} flip-flipside{% endif %}"{%if not is_root %} data-flipid="collapse-{{ entity.uri }}" {% if collapsed %}style="display: none;"{% endif %}{% endif %}>
    {% for field in entity.fields %}
    {% if field.is_subheading %}
    <div class="knowledge-subheading" {% if field.comment %}title="{{ field.comment }}"{% endif %}>{{ field.label }}</div>
    {% elif field.is_described %}
    {{ entity_field(entity, field) }}
    {% else %}
    <div class="field color1" data-property-uri="{{ field.property_uri }}" style="width: calc({{ field.width }}% - 1.3em); min-width: calc(70em * 0.01 * min(50, {{ field.width }}) - 1.3em);">
      <div class="flex-row">
        <span class="field-label flex-fix" {% if field.comment %}title="{{ field.comment }}"{% endif %}>{{ field.label }}:</span>
        <div class="field-value-list">
          {% if field.options is not none %}
            {% if not field.get_sorted_values() %}
            {{ value_options(field, '', -1) }}
            {% else %}
            {% for index, value in field.get_sorted_values() %}
            {{ value_options(field, value, index) }}
            {% endfor %}
            {% endif %}
          {% else %}
            {% if not field.get_sorted_values() %}
            {{ value_free(field, '', -1) }}
            {% else %}
            {% for index, value in field.get_sorted_values() %}
            {{ value_free(field, value, index) }}
            {% endfor %}
            {% endif %}
          {% endif %}
        </div>
        {% if not field.is_functional %}
        <button class="w3-button tiny-button flex-fix" title="Add {{ field.range_label }}">{#
          #}<i class="fas fa-plus"></i>
        </button>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endmacro %}


{% macro search_result(subgraph) %}
<div class="entity entity-border" data-subgraph-id="{{ subgraph['id'] }}">
  <div class="entity-title color2 flex-row">
    {# collapse button #}
    <button class="w3-button flex-fix flip-frontside flip-flipbutton" data-flipid="collapse-{{ subgraph['id'] }}">{#
      #}<i class="fas fa-chevron-right"></i>
    </button>
    <button class="w3-button flex-fix flip-flipside flip-frontbutton" data-flipid="collapse-{{ subgraph['id'] }}" style="display: none;">{#
      #}<i class="fas fa-chevron-down"></i>
    </button>

    <div class="entity-label flex-text">{{ subgraph['name'] }}</div>
    <a href="{{ url_for('tool.edit_view', subgraph_id=subgraph['id']) }}" class="w3-button flex-fix" title="Edit">{#
      #}<i class="fas fa-pen"></i>
    </a>
    <a href="{{ request.script_root }}/{{ subgraph['id'] }}/_download_rdf" class="w3-button flex-fix" title="Download RDF">{#
      #}<i class="fas fa-project-diagram"></i>
    </a>
  </div>

  <div class="entity-body flip-flipside" data-flipid="collapse-{{ subgraph['id'] }}" style="display: none;">
    {{ overview(subgraph['id']) }}
  </div>
</div>
{% endmacro %}

{% macro overview(id=1) %}
{% if id == 1%}
<table class="color1">
  <tr class="color2">
    <td><b>Study details: Dabigatran versus Warfarin in Patients with Atrial Fibrillation, Stuart J. Connolly, 2009</b></td>
  </tr>
  <tr>
    <td>Objective: To find out whether dabigatran ( a new oral direct thrombin inhibitor) is as effective as Warfarin. (inferred from text.)</td>
  </tr>
  <tr>
    <td>Study design: Randomized, Non-inferiority, Blind, Multi-Center, Open-label, Multi-national</td>
  </tr>
  <tr>
    <td>Disease(s): Atrial fibrillation</td>
  </tr>
  <tr>
    <td>Eligibility: Patients who had atrial fibrillation and were at increased risk for stroke.</td>
  </tr>
  <tr>
    <td>Baseline Population: Gender: Female, Male; Avg Age: 71</td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr class="color2">
    <th>Results</th>
  </tr>
  <tr>
    <td class="table-container">
      <table>
        <tr>
          <td><b>Events / Arms</b></td>
          <td>Arm 1: Drug: Dabigatran; Frequency Interval: Twice a day; Dose value or description: 110; Dose unit: mg; Delivery method: Oral; Control or placebo: true</td>
          <td>Arm 2: Drug: Warfarin; Dose value or description: 1 or 3 or 5; Dose unit: mg; Delivery method: Oral; Control or placebo: false</td>
        </tr>

        <tr class="table-light">
          <td rowspan="4">Endpoint 1: Outcome Measure: Systematic Embolic Event; Outcome description: Stroke or systemic embolism, Primary</td>
          <th colspan="2">Baseline values</th>
        </tr>
        <tr class="table-light">
          <td>Number of patients in arm: 6015, Aggregation method: Count</td>
          <td>Number of patients in arm: 6022, Aggregation method: Count</td>
        </tr>
        <tr class="table-light">
          <th colspan="2">Result at last timepoint</th>
        </tr>
        <tr class="table-light">
          <td>Number of patients affected: 182; Observed results: %/yr 1.53</td>
          <td>Number of patients affected: 199; Observed results: %/yr 1.69</td>
        </tr>

        <tr class="table-gray">
          <td rowspan="4">Endpoint 2: Outcome Measure: All-cause Mortality; Outcome description: alll-cause mortality, Primary</td>
          <th colspan="2">Baseline values</th>
        </tr>
        <tr class="table-gray">
          <td>Number of patients in arm: 6015, Aggregation method: Count</td>
          <td>Number of patients in arm: 6022, Aggregation method: Count</td>
        </tr>
        <tr class="table-gray">
          <th colspan="2">Result at last timepoint</th>
        </tr>
        <tr class="table-gray">
          <td>No information was provided</td>
          <td>No information was provided</td>
        </tr>

        <tr class="table-light">
          <td>Adverse Event 1: Indigestion (dyspepsia)</td>
          <td>Number of patients affected affected: 707</td>
          <td>Number of patients affected affected: 348</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr class="color2">
    <th>Size of effect / difference between groups</th>
  </tr>
  <tr>
    <td class="table-container">
      <table>
        <tr class="table-light">
          <td>Endpoint 1 Arm 1 vs. Endpoint 1 Arm 2</td>
          <td>Measurement: Hazard ratio</td>
          <td>Absolute value: 0.88</td>
          <td>Confidence interval: 95% (0.75–1.03); P-value: <0.00</td>
        </tr>
        <tr class="table-light">
          <td>Endpoint 2 Arm 1 vs. Endpoint 2 Arm 2</td>
          <td>Measurement: Odd ratio</td>
          <td>Absolute value: 0.93</td>
          <td>Confidence interval: 95% (0·55–1·55)</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr>
    <td class="color2"><b>Conclusions:</b> In conclusion, we compared two doses of dabigatran with warfarin in patients who had atrial fibrillation and who were at risk for stroke. As compared with warfarin, the 110-mg dose of dabigatran was associated with similar rates of stroke and systemic embolism and lower rates of major hemorrhage; the 150-mg dose of dabigatran was associated with lower rates of stroke and systemic embolism but with a similar rate of major hemorrhage.</td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr>
    <td class="color2"><b>Potential conflict of interest:</b> Sponsor: Boehringer Ingelheim; Conflict of interest: An operations committee, with assistance from an international steering committee and with participation by the sponsor, was responsible for the design, conduct, and reporting of the study. Tby all appropriate national.</td>
  </tr>
</table>
{% else %}
<table class="color1">
  <tr class="color2">
    <td><b>Study details: Title, first author, year</b></td>
  </tr>
  <tr>
    <td>Objective:</td>
  </tr>
  <tr>
    <td>Study design: randomized, blind, etc.</td>
  </tr>
  <tr>
    <td>Disease(s):</td>
  </tr>
  <tr>
    <td>Elegibility: Preconditions/Inclusion, Exclusion criteria</td>
  </tr>
  <tr>
    <td>Baseline Population: gender, age, ethnicity, country</td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr class="color2">
    <th>Results</th>
  </tr>
  <tr>
    <td class="table-container">
      <table>
        <tr>
          <td><b>Events / Arms</b></td>
          <td>Arm1 description: intervention (drug, freq, delivery, method, etc.)</td>
          <td>Arm2 description: intervention (drug, freq, delivery, method, etc.)</td>
        </tr>
        <tr class="table-light">
          <td rowspan="4">Endpoint1, primary/secondary, Description</td>
          <th colspan="2">Baseline values</th>
        </tr>
        <tr class="table-light">
          <td>NumPatientsArm, BLValue, Aggregation method</td>
          <td>NumPatientsArm, BLValue, Aggregation method</td>
        </tr>
        <tr class="table-light">
          <th colspan="2">Result at last timepoint</th>
        </tr>
        <tr class="table-light">
          <td>Num affected / Change from BL, Observed results</td>
          <td>Num affected / Change from BL, Observed results</td>
        </tr>

        <tr class="table-gray">
          <td>Adverse Event 1, description</td>
          <td>Num affected / Change from BL, Observed results</td>
          <td>Num affected / Change from BL, Observed results</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr class="color2">
    <th>Size of effect / difference between groups</th>
  </tr>
  <tr>
    <td class="table-container">
      <table>
        <tr class="table-light">
          <td>Arm1/Arm2</td>
          <td>Measurement</td>
          <td>value</td>
          <td>statistical information (P-value, SD, SE, CI)</td>
        </tr>
        <tr class="table-gray">
          <td>Arm1/Arm2</td>
          <td>Measurement</td>
          <td>value</td>
          <td>statistical information (P-value, SD, SE, CI)</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr>
    <td class="color2"><b>Conclusions:</b></td>
  </tr>
  <tr><td class="separator-row"></td></tr>
  <tr>
    <td class="color2"><b>Potential conflict of interest:</b></td>
  </tr>
</table>
{% endif %}
{% endmacro %}
