{% macro subgraph_row(subgraph_id, subgraph_name, subgraph_finished) %}
<div class="item" data-subgraph-id="{{ subgraph_id }}">
  <div class="flex-row flip-frontside" data-flipid="subgraph-list-{{ subgraph_id }}">
    <a href="{{ url_for('tool.index', subgraph_id=subgraph_id) }}"
       class="w3-button flex-text">{{ subgraph_name }}</a>
    <input type="checkbox" id="finished-{{ subgraph_id }}" style="display: none"
           {% if subgraph_finished %}checked{% endif %}>
    <label for="finished-{{ subgraph_id }}" class="w3-button flex-fix"
           title="{{ 'Finished' if subgraph_finished else 'Not finished' }}">
      <i class="fa {{ 'fa-check-square' if subgraph_finished else 'fa-square' }} fa-lg"></i>
    </label>
    <a href="#" class="w3-button flex-fix flip-flipbutton" data-flipid="subgraph-list-{{ subgraph_id }}" title="Edit {{ frontend_config['subgraph_term'] }}">
      <i class="fas fa-pen fa-lg"></i>
    </a>
  </div>
  <div class="flip-flipside" data-flipid="subgraph-list-{{ subgraph_id }}" style="display: none">
    <form class="flex-row">
      <input class="w3-input flex-flex" type="text" name="name" value="{{ subgraph_name }}" required>
      <button type="submit" class="w3-button flex-fix w3-right" title="Save changes">
        <i class="fas fa-save fa-lg"></i>
      </button>
      <a href="#" class="w3-button flex-fix w3-right delete-subgraph-button" title="Delete {{ frontend_config['subgraph_term'] }}">
        <i class="fas fa-trash fa-lg"></i>
      </a>
      <a href="#" class="w3-button flex-fix w3-right flip-frontbutton" data-flipid="subgraph-list-{{ subgraph_id }}" title="Cancel">
        <i class="fas fa-times fa-lg"></i>
      </a>
    </form>
  </div>
</div>
{% endmacro %}


{% macro entity_div(entity, is_root) %}
<div class="entity{% if not is_root %} entity-border{% endif %}">
  {# collapse button #}
  <div class="flex-row">
    {% if not is_root %}
    <a href="#" class="w3-button tiny-button flex-fix flip-frontside flip-flipbutton" data-flipid="collapse-{{ entity.uri }}" style="width: 30px; height: 30px; margin-left: -15px;">
      <i class="fas fa-chevron-right"></i>
    </a>
    <a href="#" class="w3-button tiny-button flex-fix flip-flipside flip-frontbutton" data-flipid="collapse-{{ entity.uri }}" style="width: 30px; height: 30px; margin-left: -15px; display: none;">
      <i class="fas fa-chevron-down"></i>
    </a>
    {% endif %}
    {# entity header #}
    <div class="entity-title flex-flex">
      <div class="flex-row flip-frontside" data-flipid="edit-{{ entity.uri }}">
        <div class="flex-text" {% if entity.comment %}title="{{ entity.comment }}"{% endif %} style="font-weight: bold;">{{ entity.label }}</div>
        <a href="#" class="w3-button tiny-button flex-fix flip-flipbutton" data-flipid="edit-{{ entity.uri }}" title="Edit {{ entity.class_label }}">
          <i class="fas fa-pen"></i>
        </a>
      </div>
      {# edit described entity #}
      <from class="flex-row flip-flipside" data-flipid="edit-{{ entity.uri }}" style="display: none">
        <input class="w3-input flex-flex" type="text" name="label" value="{{ entity.label }}" required style="padding: 0 8px; border-bottom: 0">
        <button type="submit" class="w3-button tiny-button flex-fix" title="Save changes">
          <i class="fas fa-save"></i>
        </button>
        {% if not is_root %}
        <a href="#" class="w3-button tiny-button flex-fix w3-right" title="Delete {{ entity.class_label }}">
          <i class="fas fa-trash"></i>
        </a>
        {% endif %}
        <a href="#" class="w3-button tiny-button flex-fix flip-frontbutton" data-flipid="edit-{{ entity.uri }}" title="Cancel">
          <i class="fas fa-times"></i>
        </a>
      </from>
    </div>
  </div>


  <div {%if not is_root %} class="flip-flipside" data-flipid="collapse-{{ entity.uri }}" {% endif %}style="{%if not is_root %}display: none; {% endif %}margin-top: 1em;">
    {% for field in entity.fields %}
    {% if field.is_described %}
    <div class="entity-field">
      <div class="flex-row">
        <span class="flex-fix" {% if field.comment %}title="{{ field.comment }}"{% endif %}>{{ field.label }}:</span>
        <div class="flex-flex flip-frontside" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}"></div>
        {# add described entity value #}
        <div class="flex-flex flip-flipside" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}" style="display: none; margin-left: 0.5em;">
          <form class="flex-row">
              <input class="w3-input flex-flex" type="text" name="label" placeholder="{{ field.range_label }} name..." required style="padding: 0 8px; border-bottom: 0">
              <button type="submit" class="w3-button tiny-button flex-fix" title="Add {{ field.range_label }}">
                <i class="fas fa-plus"></i>
              </button>
            </form>
        </div>
        {% if not field.values or not field.is_functional %}
        <a href="#" class="w3-button tiny-button flex-fix flip-frontside flip-flipbutton" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}" title="Add {{ field.range_label }}">
          <i class="fas fa-plus"></i>
        </a>
        <a href="#" class="w3-button tiny-button flex-fix flip-flipside flip-frontbutton" data-flipid="{{ entity.uri + '::' + field.property_uri + '::new_value' }}" title="Cancel" style="display: none;">
          <i class="fas fa-times"></i>
        </a>
        {% endif %}
      </div>
      {% for value in field.values %}
      {{ entity_div(value, False) }}
      {% endfor %}
    </div>
    {% else %}
    <div class="field color1">
      <div class="flex-row">
        <span class="flex-fix" {% if field.comment %}title="{{ field.comment }}"{% endif %}>{{ field.label }}:</span>
        <div class="field-value-list">
          {% if field.is_object_property %}
          {% for value in field.values %}
          <form>
            <input type="hidden" autofocus>
            <div>
              <input class="w3-input option-input" type="text" name="value" value="{{ value.label }}" required>
              <div class="options"><div class="color1">
                {% for option in field.options %}
                <div class="option">{{ option.label }}</div>
                {% endfor %}
                <div>
                  <input class="w3-input" type="text" name="value" placeholder="Add option..." style="display: inline-block"><!--
                  --><a href="#" class="w3-button tiny-button" title="Add {{ field.range_label }} to the list of options." style="display: inline-block">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div></div>
            </div>
            <a href="#" class="w3-button tiny-button w3-right" title="Delete {{ field.range_label }}">
              <i class="fas fa-trash"></i>
            </a>
          </form>
          {% endfor %}
          {% else %}
          {% for value in field.values %}
          <form>
            <div class="w3-input literal-input" contentEditable>{{ value }}</div>
            <a href="#" class="w3-button tiny-button w3-right" title="Delete {{ field.range_label }}">
              <i class="fas fa-trash"></i>
            </a>
          </form>
          {% endfor %}
          {% endif %}
        </div>
        {% if not field.values or not field.is_functional %}
        <a href="#" class="w3-button tiny-button flex-fix" title="Add {{ field.range_label }}">
          <i class="fas fa-plus"></i>
        </a>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endmacro %}
