{% from "tool/edit_macros.html" import entity_div %}

{% extends 'tool/layout.html' %}

{% block title %}{{ frontend_config['tool_name'] }} - Search{% endblock %}

{% block header_content %}
<div class="flex-fix ghost-center"><b>{{ frontend_config['Subgraph_term'] }}s search</b></div>
<div class="font-small flex-flex">
  Select the characteristics of the {{ frontend_config['subgraph_term'] }}s whose overview you would like to see.<br>
  Do not input any filter to retrieve all the existing {{ frontend_config['subgraph_term'] }}s.<br>
  <b>Only {{ frontend_config['subgraph_term'] }}s marked as finished are considered.</b>
</div>
{% endblock %}

{% block body_content %}
<script src="{{ url_for('static', filename='js/search.js') }}" defer></script>

{{ entity_div(filter, is_root=false, is_deletable=False, collapsed=False, id='filter-entity') }}

<div class="entity entity-border" style="margin-top: 1em;">
  <div class="entity-title color2 flex-row">
    <div class="entity-label flex-flex">{{ frontend_config['Subgraph_term'] }}s</div>
  </div>
  <div class="entity-body" id="search-results">
    {% for subgraph in subgraphs %}
    {{ search_result(subgraph) }}
    {% endfor %}
    <div id="no-match-msg" style="display: none;">No studies with these characteristics have been found.</div>
  </div>
</div>
{% endblock %}

{% macro search_result(subgraph) %}
<div class="entity entity-border" data-subgraph-id="{{ subgraph['id'] }}">
  <div class="entity-title color2 flex-row">
    {# collapse button #}
    <button class="w3-button flex-fix flip-frontside flip-flipbutton" data-flipid="collapse-{{ subgraph['id'] }}">{#
      #}<i class="fas fa-chevron-right"></i>
    </button>
    <button class="w3-button flex-fix flip-flipside flip-frontbutton" data-flipid="collapse-{{ subgraph['id'] }}" style="display: none;">{#
      #}<i class="fas fa-chevron-down"></i>
    </button>

    <div class="entity-label flex-text">{{ subgraph['name'] }}</div>
    <a href="{{ url_for('tool.edit_view', subgraph_id=subgraph['id']) }}" class="w3-button flex-fix" title="Edit">{#
      #}<i class="fas fa-pen"></i>
    </a>
    <a href="{{ request.script_root }}/{{ subgraph['id'] }}/_download_rdf" class="w3-button flex-fix" title="Download RDF">{#
      #}<i class="fas fa-project-diagram"></i>
    </a>
  </div>

  <div class="entity-body flip-flipside" data-flipid="collapse-{{ subgraph['id'] }}" style="display: none;">
    <div class="overview-table-placeholder" data-subgraph-id="{{ subgraph['id'] }}"><i class="fas fa-table w3-large"></i> Loading overview table...</div>
  </div>
</div>
{% endmacro %}