<script src="{{ url_for('static', filename='js/subgraph_menu.js') }}" defer></script>

<div class="w3-container w3-card-4 w3-blue">
  <input class="w3-input w3-border w3-padding w3-margin-top" type="text" placeholder="Search for subgraphs.." id="subgraph-filter">
  <div class="w3-bar-block w3-margin-top" id="subgraph-list">
    <a class="w3-bar-item w3-button">Adele</a>
    <a class="w3-bar-item w3-button">Agnes</a>
    <a class="w3-bar-item w3-button">Billy</a>
    <a class="w3-bar-item w3-button">Bob</a>
    <a class="w3-bar-item w3-button">Calvin</a>
    <a class="w3-bar-item w3-button">ChristinaChristina ChristinaChrist inaChristinaChristinaChristina ChristinaChristinaChristi naChristinaChristinaChristinaChristinaTEST1 TEST2</a>
    <a class="w3-bar-item w3-button">Cindy</a>
    <a class="w3-bar-item w3-button">Adele</a>
    <a class="w3-bar-item w3-button">Agnes</a>
    <a class="w3-bar-item w3-button">Billy</a>
    <a class="w3-bar-item w3-button">Bob</a>
    <a class="w3-bar-item w3-button">Calvin</a>
    <a class="w3-bar-item w3-button">Christina</a>
    <a class="w3-bar-item w3-button">Cindy</a>
  </div>
  <a class="w3-button w3-margin-top w3-margin-bottom w3-light-blue">NEW SUBGRAPH</a>
</div>