{% from "tool/macros.html" import subgraph_row %}

<script src="{{ url_for('static', filename='js/subgraph_menu.js') }}" defer></script>

<div class="w3-container w3-card-4 w3-blue">
  <div class="flex-row w3-margin-top">
    <input class="w3-input flex-input w3-border w3-padding" style="width: {{90 if subgraph['id'] else 100 }}%"
           type="text" placeholder="Search for subgraphs.." id="subgraph-filter">
    <a href="#" class="w3-button flex-fix w3-margin-left" title="Close" id="close-overlay"
       style="display: {{ 'block' if subgraph['id'] else 'none' }}">
      <i class="fas fa-times fa-lg"></i>
    </a>
  </div>
  <div class="w3-margin-top" id="subgraph-list">
    {% for s in subgraph_list %}
      {{ subgraph_row(s['id'], s['name'], s['finished']) }}
    {% endfor %}
  </div>
  <div class="w3-margin-top w3-margin-bottom flex-row flip-frontside" data-flipid="new-subgraph">
    <button class="w3-button flex-fix w3-light-blue flip-flipbutton" data-flipid="new-subgraph">New subgraph</button>
  </div>
  <div class="w3-margin-top w3-margin-bottom flip-flipside" data-flipid="new-subgraph" style="display: none">
    <form class="flex-row" id="new-subgraph-form" method="post">
      <input class="w3-input flex-input"
             type="text" placeholder="Subgraph name.." name="name" id="new-subgraph-name" required>
      <button type="submit" class="w3-button flex-fix" title="Add subgraph">
        <i class="fas fa-plus fa-lg"></i>
      </button>
      <a href="#" class="w3-button flex-fix flip-frontbutton" data-flipid="new-subgraph" title="Cancel">
        <i class="fas fa-times fa-lg"></i>
      </a>
    </form>
  </div>
</div>

<div class="w3-panel w3-card-4 w3-red" data-subgraph-id="0" style="display: none"
     id="subgraph-menu-delete-msg">
  <span></span>
  <a href="#" class="w3-margin-left w3-text-green">Undo.</a>
</div>
<div class="w3-panel w3-card-4 w3-red flip-flipside-msg" data-flipid="subgraph-list-0" style="display: none"
     id="subgraph-menu-edit-msg"></div>
<div class="w3-panel w3-card-4 w3-red flip-flipside-msg" data-flipid="new-subgraph" style="display: none"
     id="subgraph-menu-add-msg"></div>