html,
body {
  height: 100%;
  margin: 0;
}

/* Layout of the tool */
header {
    z-index: 100;
}

#flex-body {
  flex: 1 1 0;
  overflow: auto;
  position: relative;
}

#scroll-container {
  height: 100%;
  overflow: auto;
  padding: 0.5em 0em 0.5em 0em;
  width: 100%;
}

/* Subgraph list overlay */
#overlay {
  position: absolute;
}

.w3-modal-content {
  background-color: transparent;
}

#subgraph-list {
  height: 35vh;
  overflow: auto;
}

#subgraph-list div {
  padding: 0;
}

/* Flex containers */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Flex items */
.flex-flex {
  flex: 1 1 0;
}

.flex-fix {
  flex: 0 0 auto;
}

.flex-text {
  flex: 1 1 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre;
}

.flex-text:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
}

/* Flip Elements */
.flip-frontside,
.flip-flipside,
.flip-flipside-msg {
  animation: opac 0.5s;
}

/* Colors */
.color0 {
  color: black;
  background: #EDEDED;
}

.color1 {
  color: var(--font-color1);
  background: var(--color1);
}

.color2 {
  color: var(--font-color2);
  background: var(--color2);
}

.fa-times,
.fa-plus,
.fa-minus,
.fa-pen,
.fa-square,
.fa-check-square,
.fa-save,
.fa-project-diagram {
  opacity: 0.6;
}

/* Icon button */
.big-button {
  width: 2.5em;
  height: 2.5em;
}

.tiny-button {
  width: 1.5em;
  height: 1.5em;
}

.collapse-button {
  width: 2em;
  height: 2em;
  border-radius: 4px;
  margin-right: 0.5em;
}

.big-button,
.tiny-button,
.collapse-button {
  padding: 0;
  text-align: center;
}

.collapse-button:before,
.big-button:before,
.tiny-button:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.collapse-button > i,
.big-button > i,
.tiny-button > i {
    vertical-align: middle;
}

/* Menus */

.button-border {
  border: 2px solid var(--font-color1);
  border-radius: 4px;
}

/* Knowledge */
.entity {
  margin: 0.5em 0;
  background: white;
}

.entity-border {
  border: 2px solid var(--font-color2);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12)
}

.entity-title {
  align-items: center;
  border: 2px solid var(--font-color2);
  border-radius: 10px;
  padding: 0.2em;
  font-weight: bold;
  margin: -2px;
}

.entity-body {
  padding: 0.5em 1em 0.5em 1.5em;
}

.entity-field-label {
  font-weight: bold;
}

.entity-field {
  margin: 1em 0.5em 0.5em 0.5em;
}

.field {
  display: inline-block;
  width: 47%;
  margin: 0.5em;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12);
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.field > div {
  margin-top: 0.1em;
}

.field-label {
  margin-bottom: calc(0.2em + 1px); /* Margin + border of field-values */
}

.field-value-list {
  flex: 1 1 auto;
  min-width: 5em;
}

.field-value-list > form {
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}

.literal-input {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.literal-input,
.option-input {
  padding: 0 2px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  min-height: 1.5em;
  max-height: calc(4.5em + 1px);  /* Three lines + border */
  overflow: auto;
}

.option-input {
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-form > div:first-of-type {
  width: calc(100% - 1.5em);
}

.options {
  display: none;
  position: relative;
  z-index: 100;
}

.option-input:focus + .options,
.options:hover,
.options:focus-within {
  display: block;
}

.option-input + .options > div {
  position: absolute;
  border: 1px solid #ccc;
}

.option {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  cursor: pointer;
}

.options > div {
  max-height: 10em;
  overflow: auto;
  width: 100%
}

.options > div > div {
  padding: 3px;
}

.option:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.options input {
  padding: 0 2px;
  width: calc(100% - 1.5em);
  border-bottom: 1px solid #ccc;
  background-color: inherit;
  display: inline-block;
}

.options a {
  display: inline-block;
}

/* Message */
#knowledge-delete-msg {
  display: none;
  position: fixed;
  bottom: 0;
  width: 80%;
  left: 10%;
  right: 10%;
  padding: 0.5em 1em;
  align-items: center;
}