html,
body {
  height: 100%;
  margin: 0;
}

/* Layout of the tool */
#flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#flex-header {
  flex: 0 0 auto;
}

#flex-body {
  flex: 1 1 0;
  overflow: auto;
  position: relative;
}

#scroll-container {
  height: 100%;
  overflow: auto;
  width: 100%;
}

/* Subgraph list overlay */
#overlay {
  position: absolute;
}

.w3-modal-content {
  background-color: transparent;
}

#subgraph-list {
  height: 35vh;
  overflow: auto;
}

#subgraph-list div {
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-input {
  flex: 1 1 0;
}

.flex-text {
  flex: 1 1 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre;
}

.flex-text:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
}

.flex-fix {
  flex: 0 0 auto;
}

/* Flip Elements */
.flip-frontside,
.flip-flipside,
.flip-flipside-msg {
  animation: opac 0.5s;
}