html,
body {
  height: 100%;
  margin: 0;
}

.font-small {
  font-size: 13px;
}

/* Layout of the tool */
header {
    z-index: 100;
}

header > * {
  padding: 8px 16px;
}

#ratio-logo {
  padding: 4px 8px;
}

#ratio-logo > img {
  height: 52px;
}

#flex-body {
  flex: 1 1 0;
  overflow: auto;
  position: relative;
}

/* login */
.login-center {
  width: 21em;
}

.login-center input[type="text"],
.login-center input[type="password"] {
  width: 95%;
}

/* tool index */
.index-body {
  padding: 2em 1em;
}

#subgraph-list-box {
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin-top: 1em;
}

#subgraph-list {
  height: 50vh;
  overflow: auto;
  background-color: white;
}

#subgraph-list > div {
  padding: 0;
}

/* Flex containers */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Flex items */
.flex-flex {
  flex: 1 1 0;
}

.flex-fix {
  flex: 0 0 auto;
}

.flex-text {
  flex: 1 1 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre;
}

.flex-text:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
}

/* Flip Elements */
.flip-frontside,
.flip-flipside,
.flip-flipside-msg {
  animation: opac 0.5s;
}

/* Colors */
.color0 {
  background-color: var(--color0);
}

.color1 {
  background-color: var(--color1);
}

.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.text-green {
  color: #307833;
}

.fa,
.fas {
  opacity: 0.6;
}

/* Icon button */
.big-button {
  align-self: center;
  min-width: 2.5em;
  height: 2.5em;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}

.tiny-button {
  width: 1.5em;
  height: 1.5em;
}

.entity-title > a,
.entity-title > button {
  width: 2em;
  height: 2em;
  border-radius: 8px;
}

.tiny-button,
.entity-title > a,
.entity-title > button {
  padding: 0;
  text-align: center;
}

.ghost-center:before,
.collapse-button:before,
.big-button:before,
.tiny-button:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.collapse-button > i,
.big-button > i,
.tiny-button > i {
    vertical-align: middle;
}

.entity-title > a > i {
  vertical-align: bottom;
}

button:disabled,
button[disabled]{
  cursor: progress !important;
}

/* Menus */

.button-border {
  border: 2px solid rgba(0, 0, 0, .6);
  border-radius: 4px;
}

.navigation {
  padding: 0;
}

.navigation .flip-flipbutton,
.navigation .flip-frontbutton {
  height: 100%;
  width: 3em;
}

.navigation > * {
  height: 100%;
}

.navigation-dropdown {
  position: absolute;
  left: 0;
}

.navigation-dropdown > button,
.navigation-dropdown > a {
  width: 100%;
  text-align: left;
}

.navigation-dropdown > button:disabled,
.navigation-dropdown > button[disabled] {
  cursor: default !important;
}


/* Knowledge */
#subgraph-header {
  align-items: center;
  border-radius: 10px;
  height: 36px;
  margin: 0.5em 1em;
  padding: 0.2em 0.2em 0.2em 1em;
}

#subgraph-header > a {
  border-radius: 8px;
  height: 2em;
  padding: 4px
}

.deleted {
  display: none;
}

.entity {
  margin: 0.5em 0;
  background-color: white;
}

.entity-border {
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12)
}

.entity-title {
  align-items: center;
  border-radius: 10px;
  min-height: 36px;
  padding: 0.2em;
}

.entity-label {
  margin-left: 0.5em;
  font-weight: bold;
}

.entity-body {
  padding: 0.5em 1em 0.5em 1.5em;
}

.knowledge-subheading {
  margin-top: 1em;
  font-weight: bold;
}

.entity-field-title {
  margin-top: 1em;
}

.entity-field-label {
  font-weight: bold;
}

.entity-field {
  margin: 0.5em;
}

.field {
  display: inline-block;
  width: 47%;
  margin: 0.5em;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12);
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.field > div {
  margin-top: 0.1em;
}

.field-label {
  margin-bottom: calc(0.2em + 1px); /* Margin + border of field-values */
  margin-right: 3px;
}

.field-value-list {
  flex: 1 1 auto;
  min-width: 5em;
}

.field-value-list > form {
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}

.literal-input {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.literal-input,
.option-input {
  padding: 0 2px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  min-height: 1.5em;
  max-height: calc(4.5em + 1px);  /* Three lines + border */
  overflow: auto;
}

.option-input {
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-form > div:first-of-type {
  width: calc(100% - 1.5em);
}

.options-dropdown {
  display: none;
  position: relative;
  z-index: 100;
}

.option-input:focus + .options-dropdown,
.options-dropdown:hover,
.options-dropdown:focus-within {
  display: block;
}

.option-input + .options-dropdown > div {
  position: absolute;
  border: 1px solid #ccc;
}

.option {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  cursor: pointer;
  min-height: 1.5em; /* To make sure empty options (filter) are visible */
}

.options-dropdown > div {
  max-height: 10em;
  overflow: auto;
  padding: 3px;
  width: 100%
}

.option:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.options-dropdown input {
  padding: 0 2px;
  width: calc(100% - 1.5em);
  border-bottom: 1px solid #ccc;
  background-color: inherit;
  display: inline-block;
}

.options-dropdown a {
  display: inline-block;
}

/* Message */
.message{
  background-color: #FFE5B4;
}

#knowledge-delete-msg {
  display: none;
  position: fixed;
  bottom: 0;
  width: 80%;
  left: 10%;
  right: 10%;
  padding: 0.5em 1em;
  align-items: center;
}

#knowledge-delete-msg > span {
  margin-right: 0.5em;
}

/* Result table */
.table-gray {
  background-color: #DFDFDF;
}

.table-light {
  background-color: #F2F2F2;
}

table, td, th {
  border-collapse: collapse;
  border:1px solid rgba(0, 0, 0, 0.6);
}

td, th {
  padding: 0.5em 1em;
  vertical-align: top;
  width: 1%; /* trick to get equal width columns */
}

th {
  text-align: center !important;
}

.separator-row {
  padding: 2px !important;
}

/* Nested tables */
table table {
  margin: -1px;
  width: calc(100% + 2px);
}

.table-container {
  padding: 0 !important;
}

/* Admin */
.backup-row > * {
  margin: 0.5em;
}
